// Color
$main-color: #7e87db;
$main-gray-color: #6c757d;
$light-gray: #ced4da;
$dark-gray: #343a40;
$black: #000;
$white: #fff;
$error-color: #f03e3e;

// Form Color
$form-control-border-color: $light-gray;
$form-control-color: #212529;
$form-control-placeholder: $main-gray-color;

// Font
$main-font: 'IBM Plex Sans KR', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Tab
$tab-default-min-width: 6.4rem;
$tab-default-height: 4rem;
$tab-default-padding: 1.25rem;
$tab-default-font-size: 1.6rem;
$tab-font-weight: $font-medium;

// Time Picker
$time-picker-height: 5rem;
$time-picker-padding: 1.6rem;
$time-picker-border-color: $light-gray;
$time-picker-border: 0.1rem solid $time-picker-border-color;
$time-picker-color: #212529;
$time-picker-placeholder: $main-gray-color;
$time-picker-border-radius: 0.25rem;

$time-picker-select-height: 15rem;
$time-picker-select-padding: 0.5rem;
